// $wtf: #2D2241;
$background-color-1: #ffffff;
$background-color-2: #1070CA;
$background-color-3: hotpink;

$email-background-color: #4da8ff;
$email-font-color: #ffffff;

$font-color-1: #234361;
$font-color-2: #425A70;